{% import '@BasecomRulesEngine/macros.html.twig' as elements %}

{% import 'PimDataGridBundle::macros.html.twig' as dataGrid %}

{% block content %}
    {% if resource_granted('pimee_catalog_rule_rule_execute_permissions') %}
        {% set buttons %}
            {{ elements.confirmLink(
            path('pimee_catalog_rule_rule_execute'),
            path('pimee_catalog_rule_rule_index'),
            'pimee_catalog_rule.notification.rule.launched'|trans,
            'Execute rules',
            'play',
            'pimee_catalog_rule.popin.execute_rules.confirm_content'|trans,
            'btn btn-primary execute-all-rules',
            'pimee_catalog_rule.popin.execute_rules.confirm_title'|trans
            ) }}
            {{ elements.createBtn('rule', path('basecom_rule_create'), null, 'pim_enrich_channel_create', 'plus') }}
            {{ elements.createBtn(
            'rule',
            path('basecom_rule_create'),
            'dialog',
            'basecom_rule_create',
            'plus'
            ) }}
        {% endset %}

        {{ elements.page_header('pimee_catalog_rule.datagrid.rule-grid.title'|trans, buttons) }}
    {% else %}
        {{ elements.page_header('pimee_catalog_rule.datagrid.rule-grid.title'|trans) }}
    {% endif %}

    {{ dataGrid.renderGrid('rule-grid') }}
{% endblock %}
